<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
   <bean id="songDTO" class="CD.SongDTO"></bean>
    <!--加载该文件自动扫描为CD的包-->
    <context:component-scan base-package="CD"/>
    <!--配置文件集成-->
    <context:property-placeholder location="dubbo.properties"></context:property-placeholder>
</beans>